{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the most extraordinary Hotel In Colombia">
    <meta name="keywords" content="Hotel, Colombia, Hotel in Colombia, New Colombia Hotel">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' %}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    
    <title>Hotel Royal King</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <a name="home"></a>
            <div class="container">
                <h1 class="logo">Hotel Royal King</h1>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div id="showcase">
            <div class="container">
                <div class="showcase-content">
                    <h1><span class="text-primary">Book Your Slot</span></h1>
                    <p class="lead">True hospitality consists of giving the best of yourself to your guests.</p>
                    <a class="btn" onclick="window.open('../check_date2','_self')">Check For Booking</a>
                </div>
            </div>
        </div>
    </header>

    
    <section id="features">
        <div class="box  bg-primary">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Great Location</h3>
            <p>It has absolutely great location followed by the the great time to spend with loved once</p>
        </div>
        <div class="box">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>Free Meals</h3>
            <p>It provide free meal which is delicious in the taste.</p>
        </div>
        <div class="box bg-primary">
            <i class="fas fa-dumbbell fa-3x"></i>
            <h3>Fitness Room</h3>
            <p>It has gym room where you can work on your fitness with proper equipements in it.</p>
        </div>
    </section>
    <div class="clr"></div>
    <section id="home_info" class="bg-dark">
        <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
            <p>
                The hospitality industry’s history can be traced back by the 
                end of 1700s in the Colonial Period. This industry has been 
                the subject of important development over the years as it has 
                faced many obstacles such as the World Wars, the great 
                depression, the industrial revolution and other social 
                changes. However, the hotel industry as seen today in its 
                modern concept took place in the 1950s and 60s
            </p>
            <a href="about.html" class="btn btn-light">Read More</a>
        </div>
    </section>
    <div class="clr"></div>
    
    <a name="about"></a>
    <section id="about-info" class="bg-light py-3">
        <div class="container">
            <div class="info-left">
                <h1 class="l-heading"><span class="text-primary">About</span> Royal King</h1>
                <p>Hotel Management has been the hospitality industry’s magazine of record for more than 50 years. Today, it covers hotel investment, development, operations, design, technology, brand strategies and the sharing economy for the new generation of hotel owner, developer, operator, broker and financier.
                Our editorial staff provides the very latest news and insight for the hospitality community and boasts a masthead brimming with sought-after thought leaders in the industry.</p>
            </div>
            <div class="info-right">
                <img src="{% static 'img/hotel2/photo-2.jpg' %}" alt="hotel">
            </div>
        </div>
    </section> 
    
    <div class="clr"></div>
    <section id="testimonials" class="py-3">
        <div class="container">
            <p class="l-heading head-4">Customer's Feedback</p>
            <br>
            <div class="testimonial bg-primary">
                <img src="{% static 'img/hotel4/person-1.jpg' %}" alt="Samantha">
                <p>The rooms were clean, very comfortable, and the staff was amazing. They went over and beyond to help make our stay enjoyable. I highly recommend this hotel for anyone visiting downtown. We went to the rooftop bar and had an amazing time. The atmosphere and service were great. Definitely a must do if you are looking for a good time.</p>
            </div>
    
            <div class="testimonial bg-primary">
                <img src="{% static 'img/hotel4/person-2.jpg' %}" alt="Jen">
                <p>They were extremely accommodating and allowed us to check in early at like 10am. We got to hotel super early and I didn’t wanna wait. So this was a big plus. The sevice was exceptional as well. Would definitely send a friend there. Hotel exceeded my expectations was spotless the staff was amazing and the most comfortable bed I have ever slept in.</p>
            </div>
        </div>
    </section>

    <section id="contact-form" class="py-3">
        <div class="container">
            <h1 class="l-heading"><span class="text-primary">Contact</span> Us</h1>
            <p>Please fill out the form below to contact us</p>
            <form action="process.php">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </section>
    
    <a name="contact"></a>
    <section id="contact-info" class="bg-dark">
        <div class="container">
            <div class="box">
                <i class="fas fa-hotel fa-3x"></i>
                <h3>Location</h3>
                <p>Sector 09,<br>Near Rosewood<br>Street,Goa</p>
            </div>
            <div class="box">
                <i class="fas fa-phone fa-3x"></i>
                <h3>Phone Number</h3>
                <p>+91-997-89-00-567</p>
            </div>
            <div class="box">
                <i class="fas fa-envelope fa-3x"></i>
                <h3>Email Address</h3>
                <p>haunted099@hotel.com</p>
            </div>
        </div>
    </section>

    <div class="clr"></div>
    <footer id="main-footer">
        <p>Hotel Royal King &copy; by Manish and Krish</p>
    </footer>

</body>
</html>